.section {
  padding: 50px 0;
}

.resultado {
  padding: 50px 0;
}

.margin-panel {
  margin-top: 7px;
}

.border-panel {
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border: 1px solid #007bff;
}
